// body color 
$main-color: rgb(62, 81, 88);

// valute container color 
$valute-container-bg: #fff;
$valute-container-bg-hover: rgb(59, 101, 114);
$valute-container-text-hover: #fff;
$valute-subcontainer-bg-hover: rgb(8, 62, 78);

// input color

$input-bg:rgb(240, 238, 238);
$input-bg-hover: rgb(222, 206, 206);

// btn color

$btn-container-bg: rgb(45, 78, 88);
$btn-container-bg-hover: rgb(59, 101, 114);

// error text 
$api-error-text: rgb(172, 10, 10);