* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 15px;
  background: rgb(62, 81, 88);
  min-height: 100vh;
}
#hero-container #dollar-img {
  width: 25vw;
}
@media screen and (max-width: 1400px) {
  #hero-container #dollar-img {
    width: 50vw;
  }
}
#hero-container #switch-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
#hero-container #switch-btn:hover {
  transform: scale(1.2);
}
#hero-container #switch-btn #switch-img-btn {
  width: 100px;
  border-radius: 100%;
  border: 2px solid white;
  box-shadow: 2px 2px 7px 5px black;
}
#hero-container #switch-btn .arrow-switch {
  width: 25px;
}
#hero-container #api-error-text {
  color: rgb(172, 10, 10);
  text-transform: uppercase;
  background: white;
  padding: 10px 15px;
  border-radius: 30px;
  display: none;
  max-width: 90vw;
}
@media screen and (max-width: 1400px) {
  #hero-container #api-error-text {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  #hero-container #api-error-text {
    font-size: 20px;
  }
}
#hero-container #valute-containers {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  gap: 50px;
}
#hero-container #valute-containers .valute-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px 50px;
  background: #fff;
  box-shadow: 2px 2px 7px 5px black;
  width: 25vw;
  height: 150px;
  text-align: center;
  margin-bottom: 5px;
}
@media screen and (max-width: 1400px) {
  #hero-container #valute-containers .valute-container {
    height: 200px;
  }
}
@media screen and (max-width: 1226px) {
  #hero-container #valute-containers .valute-container {
    flex-direction: column;
    gap: 10px;
  }
}
#hero-container #valute-containers .valute-container .valute-img {
  width: 8vw;
  height: 3vw;
  border-radius: 10px;
}
#hero-container #valute-containers .valute-container #hidden-left-icon {
  display: none;
}
#hero-container #valute-containers .valute-container #hidden-right-icon {
  display: none;
}
#hero-container #valute-containers .valute-container .icon {
  font-size: 30px;
  cursor: pointer;
}
#hero-container #valute-containers .valute-container .icon:hover {
  box-shadow: 2px 2px 7px 5px black;
  border-radius: 100%;
}
#hero-container #valute-containers #valute-container-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#hero-container #valute-containers #valute-container-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#hero-container #valute-containers .hidden-container-left {
  cursor: pointer;
}
#hero-container #valute-containers .hidden-container-left:hover {
  background: rgb(8, 62, 78);
  color: #fff;
}
#hero-container #valute-containers .hidden-container-right {
  cursor: pointer;
}
#hero-container #valute-containers .hidden-container-right:hover {
  background: rgb(8, 62, 78);
  color: #fff;
}
#hero-container #valute-containers .hidden-container {
  display: none;
}
#hero-container #input-value-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
@media screen and (max-width: 768px) {
  #hero-container #input-value-container {
    flex-direction: column;
  }
}
#hero-container #input-value-container input {
  width: 25vw;
  height: 100px;
  box-shadow: 2px 2px 2px 2px black;
  background: rgb(240, 238, 238);
  padding: 30px;
  font-size: 30px;
  font-weight: bolder;
}
@media screen and (max-width: 1400px) {
  #hero-container #input-value-container input {
    height: 100px;
  }
}
@media screen and (max-width: 768px) {
  #hero-container #input-value-container input {
    width: 70vw;
  }
}
#hero-container #input-value-container input:hover {
  background: rgb(222, 206, 206);
}
#hero-container #shortcut {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 1226px) {
  #hero-container #shortcut {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 20px;
  }
}
#hero-container #shortcut .single-shortcut {
  box-shadow: 2px 2px 7px 5px black;
  color: #fff;
  padding: 10px;
  background: rgb(32, 74, 87);
  cursor: pointer;
  border-radius: 10px;
}
#hero-container #shortcut .single-shortcut:hover {
  background: rgb(59, 101, 114);
}
#hero-container #btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 7px 5px black;
  background: rgb(45, 78, 88);
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  transition: background 1s ease, border-radius 1s ease;
}
@media screen and (max-width: 768px) {
  #hero-container #btn-container {
    flex-direction: column;
    width: 70vw;
  }
}
#hero-container #btn-container:hover {
  background: rgb(59, 101, 114);
  border-radius: 50px;
}
#hero-container #btn-container .converter-img {
  width: 150px;
}
#hero-container #btn-container .converter-text {
  color: #fff;
  font-weight: bold;
  font-size: 40px;
}/*# sourceMappingURL=style.css.map */